<%- include('../layouts/main-layout.ejs') %>
    </head>

    <body>
        <%- include('../layouts/navigation.ejs') %>
            <main>
                <% if (orders.length > 0) { %>
                <ul>
                    <% orders.forEach(order => { %>
                        <li>
                            <h1># <%= order._id %></h1> 
                            <ul>
                                <% order.products.forEach(item => { %>
                                    <li>
                                        <%= item.product.title %> ( <%= item.quantity %> )
                                    </li>
                                    <% }); %>
                            </ul>
                        </li>
                        <% }); %>
                </ul>
                <%if(isAuthenticated) {%>
                <form action="/clear-order" method="post">
                <button type="submit" class="btn">Clear All Order</button>
                </form>
                <% } %>
                <% } else { %>                    
                    <h1>Nothing there!</h1>
                    <% }; %>
            </main>
    </body>

</html>