<%- include('../layouts/main-layout.ejs') %>
    <link rel="stylesheet" href="/css/product.css">    
    </head>

    <body>
        <%- include('../layouts/navigation.ejs') %>

            <main>
                <% if (prods.length> 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= product.imageUrl %>" alt="<%= product.imageUrl %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">
                                        <%= product.price %> $
                                    </h2>
                                    <p class="product__description" id="<%= product._id %>" value = "<%= product.description %>" style="display: inline;">
                                        <%= product.description %>
                                    </p>
                                    <a class="stretched-link text-danger" style="position: relative; cursor: pointer;" id="M<%= product._id %>" onclick="toggleContent('<%= product._id%>')" i18n>...Read More</a>
                                </div>
                                <div class="card__actions">
                                    <a class="btn" href="/admin/edite-product/<%= product._id %>?edite=true">Edite</a>
                                    <form action="/admin/delete-product/<%= product._id %>" style="display: inline;" method="POST">
                                        <button class="btn">Delete</button>
                                    </form>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <script src="/JS/readMoreLess.js"></script>
    </body>

    </html>