<%- include('../Layouts/main-layout.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../layouts/navigation.ejs') %>

            <main>
                <form class="login-form" action="/auth/signup" method="POST" novalidate>
                    <div class="form-control">
                        <label for="email">E-Mail</label>
                        <input type="email"
                         class="<%= ValidationErrors.find(err => err.param === 'email') ? 'invalid' : '' %> "
                         name="email" 
                         id="email" 
                         value="<%= oldData.email %>">
                    </div>
                    <div class="form-control">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" value="<%= oldData.password %>">
                    </div>
                    <div class="form-control">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword"
                            value="<%= oldData.confirmPassword %>">
                        <p
                            style="color: red; margin-top: 0%; font-size: 14px; font-family: Garamond, serif; text-align: center;">
                            <%= passwordvalid %>
                        </p>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <!--is very important in there the name is constant not change-->
                    <button class="btn" type="submit">Signup</button>
                </form>
            </main>
    </body>

    </html>